* {
    box-sizing: border-box;
    margin: 0;
    border: 0px solid red;
}

/* .encabezado{
    display: flex;
    flex-direction: row;
} */

.titulo-encabezado {
    /* display: flex; */
    margin-left: 20px;
    font-family: cursive;
}

p,
h1,
h3,
li,
a {
    font-family: cursive;
}

h3 {
    font-style: italic;
}

article>p {
    margin-left: 20px;
}

img {
    max-width: 100%;
}

.barra-navegacion >ul>li {
    list-style: none;
    margin-right: 0px;
    top: 450px;
    float: left;
 }

li a {
    display: flex;
    color: black;
    text-align: center;

    text-decoration: none;
    border: 1px solid black;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 136, 255);
}

li a:hover{
    background-color: forestgreen;
}

 


.lista-numerada>li{
list-style-type: decimal;
}

.lista-alfabetica>li{
    list-style-type:lower-alpha;
}

.lista-puntuada>li{
list-style-type: disc;
}

.active{
    background-color: forestgreen;
}

span{
    font-weight: bold;
}

.principal {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 20px;
   margin-top: 20px;
}

.logo {
    width: 100px;
    margin-left: 20px;
    border: 2px solid black;
    /* background-color: white; */
    position: absolute;
    /* top: 5000; */
    right: 10px;
}

.contenedor-logo{
    display: flex;
    justify-content:flex-start;
}

.contenedor-principal{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-right: 110px;
    margin-left: 10px;
    margin-top: 75px;
}


.titulo {
    display: flex;
    justify-content: center;
    color: black;
    padding: 0%;
   
}

.banner {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 0% 20%;
    display: flex;
}